home/barcaderator/.attract/intro/randtro/**/*
home/barcaderator/.attract/romlists/**/*
home/barcaderator/.attract/stats/**/*
home/barcaderator/.local/**/*
home/barcaderator/.mame/cfg/**/*
home/barcaderator/.mame/nvram/**/*
result
